services:
  frontend:
    build:
      dockerfile: frontend/frontend.dockerfile
    ports:
     - "80:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    ports:
      - "8000:8000"
    